.config {
  :global(.arco-collapse-item-content) {
    background-color: revert;
  }

  :global(.arco-collapse-item-content-box) {
    padding-left: 10px;
    padding-right: 5px;
  }
  :global(.arco-form-item) {
    margin-bottom: 5px;
  }
}

.component_info {
  padding: 10px 13px;
  background-color: var(--color-fill-2);
}
